Source: ros-kinetic-multi-jackal-nav
Section: misc
Priority: extra
Maintainer: Nick Sullivan <nick.dave.sullivan@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-move-base, ros-kinetic-robot-localization, ros-kinetic-roslaunch, ros-kinetic-tf
Homepage: http://ros.org/wiki/multi_jackal_nav
Standards-Version: 3.9.2

Package: ros-kinetic-multi-jackal-nav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-move-base, ros-kinetic-robot-localization, ros-kinetic-tf
Description: Localization and navigation for the Jackal.
